<!DOCTYPE html>
<html>
  <head>
    <title>Accommodate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDo7H8QO7H30GQPv-qxScHA8EGbDH43xW4&libraries=places" %>

    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser =
          <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
    <script type="text/javascript">
      window.whiteLogo = "<%= image_url('airbnbishlogo.png') %>"
      window.splashImage = "<%= image_url('naomi-hebert-188183-unsplash.jpg') %>"
      window.redLogo = '<%= image_url('airbnb-logo-red.png') %>';
      window.defaultThumbnail = '<%= image_url('default-thumbnail.jpg') %>';
      window.apartment1 = '<%= image_url('apartment1.jpg') %>'
      window.apartment2 = '<%= image_url('apartment2.jpg') %>'
      window.apartment3 = '<%= image_url('apartment3.jpg') %>'
      window.apartment4 = '<%= image_url('apartment4.jpg') %>'
      window.apartment5 = '<%= image_url('apartment5.jpg') %>'
    </script>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <%= javascript_include_tag 'application' %>
  </head>

    
</div>



  <body>
    <%= yield %>
  </body>
</html>
